{% set menu_color = options.menu_color %}
{% spaceless %}
	{% if menu.items is not empty %}
		<nav class="vertical-menu position-absolute ml-3 d-none d-lg-block {{ menu_color }}">
			<h1 class="site-title">{{ site.name }}</h1>
			<ul class="nav navbar-nav nav-flex-icons mx-auto">
				{% for item in menu.items %}
					<li data-wow-delay={{ loop.index * 0.1 }} class="nav-item m-0 wow fadeIn animated animation-delay-{{ loop.index }} {{ item.classes|join(' ') }}">
						<a class="nav-link p-0" href="{{ item.link }}"{{ item.target ? 'target="_blank"' }}>{{ item.title }}</a>
					</li>
				{% endfor %}
			</ul>
		</nav><!-- #site-navigation -->
		<div class="front-social-menu position-absolute {{ menu_color }}">
			{% include 'menus/social-menu.twig' %}
		</div>
	{% endif %}
{% endspaceless %}