{% spaceless %}
{% set disable_backimg = post.meta('disable') %}
{% if disable_backimg %}
	{% set menu_color = 'dark' %}
{% else %}
	{% set menu_color = 'dark' %}
{% endif %}

	{% if menu.items is not empty %}
		<nav class="navbar navbar-toggleable-md fixed-top navbar-expand-lg scrolling-navbar double-nav d-none d-lg-flex {{ menu_color }} main-navigation">
			<!-- Breadcrumb-->
			<div class="breadcrumb-dn mr-auto">
				{% include 'sections/header/branding.twig' %}
			</div>
			{% if not fn('is_front_page') %}
				{% include 'menus/social-menu.twig' %}
			{% endif %}
			<!-- First level -->
			<ul class="nav navbar-nav nav-flex ml-auto">
				{% for item in menu.items %}
					{% if loop.first %}
					<li class="nav-item mr-2 wow animation-delay-{{ loop.index }} {{ item.classes|join(' ') }}">
					{% else %}
					<li class="nav-item mx-2 wow animation-delay-{{ loop.index }} {{ item.classes|join(' ') }}">
					{% endif %}
						<a class="nav-link top-level" href="{{ item.link }}"{{ item.target ? 'target="_blank"' }}>{{ item.title }}{{ item.children ? '<i class="fas fa-caret-down"></i>' }}</a>
						{% if item.children %}
							<!-- Second level -->
							<ul class="nav-drop">
								{% for child in item.children %}
									<li class="nav-drop-item {{ child.classes|join(' ') }}">
										<a href="{{ child.link }}"{{ item.target ? 'target="_blank"' }}>{{ child.children ? '<i class="fas fa-caret-left"></i>' }}{{ child.title }}</a>
										{% if child.children %}
											<!-- Third level -->
											<ul class="nav-drop">
												{% for child in child.children %}
													<li class="nav-drop-item {{ child.classes|join(' ') }}">
														<a href="{{ child.link }}"{{ item.target ? 'target="_blank"' }}>{{ child.children ? '<i class="fas fa-caret-left"></i>' }}{{ child.title }}</a>
														{% if child.children %}
															<!-- Fourth level -->
															<ul class="nav-drop">
																{% for child in child.children %}
																	<li class="nav-drop-item {{ child.classes|join(' ') }}">
																		<a href="{{ child.link }}"{{ item.target ? 'target="_blank"' }}>{{ child.children ? '<i class="fas fa-caret-left"></i>' }}{{ child.title }}</a>
																	</li>
																{% endfor %}
															</ul>
														{% endif %}
													</li>
												{% endfor %}
											</ul>
										{% endif %}
									</li>
								{% endfor %}
							</ul>
						{% endif %}
					</li>
				{% endfor %}
			</ul>
		</nav><!-- #site-navigation -->
	{% endif %}
{% endspaceless %}