{% extends 'wrappers/head-foot-wrap.twig' %}

{% block header %}
	<h1 class="page-title">{{ fn('pll_e', 'Executive Committee Members') }}</h1>
{% endblock %}

{% block content %}
	{% include 'navigation/posts-pagination.twig' %}
	{% if posts|length %}
		<div class="row">
			{% for post in posts %}
				{% set title			= post.title|e('wp_kses_post') %}
				{% set image			= Image(post.thumbnail).src|resize(360, 360)|e('esc_url') %}
				{% set designation		= post.meta('designation')|e('wp_kses_post') %}
				{% set favourite_quote	= post.meta('favourite_quote')|e('wp_kses_post') %}
				{% set link				= post.link|e('esc_url') %}
				<div class="col-12 col-md-6">
					<!-- Card Regular -->
					<div class="card card-cascade">
						<!-- Card image -->
						<div class="view view-cascade overlay">
							<img class="card-img-top" src="{{ image }}" alt="Card image cap">
							<a href="{{ link }}"><div class="mask rgba-white-slight"></div></a>
						</div>

						<!-- Card content -->
						<div class="card-body card-body-cascade text-center">
							<!-- Title -->
							<h4 class="card-title"><strong>{{ title }}</strong></h4>
							<!-- Subtitle -->
							<h6 class="font-weight-bold indigo-text py-2">{{ designation }}</h6>
							<!-- Text -->
							<p class="card-text">{{ favourite_quote }}</p>

							{% include 'menus/posts-social-menu.twig' %}

							<a href="{{ link }}" class="btn btn-secondary">{{ fn('pll_e', 'profile') }}</a>
						</div>
					</div><!-- Card Regular -->
				</div>
			{% endfor %}
		</div>
	{% endif %}
	{% include 'navigation/posts-pagination.twig' %}
{% endblock %}