{% extends 'wrappers/head-foot-wrap-no-sidebar.twig' %}

{% block content %}
<!-- Section: Contact v.3 -->
<section class="contact-section my-5">
	<!-- Form with header -->
	<div class="card">
		<!-- Grid row -->
		<div class="row">
			<!-- Grid column -->
			<div class="col-lg-8">
				<div class="card-body form">
					<!-- Header -->
					<h3 class="mt-4"><i class="fas fa-envelope pr-2"></i>Get in touch</h3>
					{% filter shortcodes %}
						[contact-form-7 id="{{ options.main_cf }}" title="Main Contact Form"]
					{% endfilter %}
				</div>
			</div><!-- Grid column -->
			<!-- Grid column -->
			<div class="col-lg-4">
				<div class="card-body elegant-color text-center h-100 white-text">
					{% set details = options['contact_details'] %}
					{% set numbers = details['contact_numbers'] %}
					{% set vo = details['vo_number']|e('wp_kses_post') %}
					{% set address = details['address']|e('wp_kses_post') %}
					{% if address or numbers or vo %}
						<h3 class="my-4 pb-2">Contact information</h3>
						<div class="repubblika-info allerta-font">
							{% if address %}
								<address class="m-0">{{ address }}</address>
							{% endif %}
							{% if numbers %}
								{% for number in numbers %}
									<a {{ loop.last ?: 'class="mr-3"' }} href="tel:+{{ number['contact_number']['cc'] }}{{ number['contact_number']['number'] }}">+{{ number['contact_number']['cc'] }} {{ number['contact_number']['number'] }}</a>
								{% endfor %}
							{% endif %}
							{% if vo %}
								<div class="d-block"><strong>VO No. {{ vo }}</strong></div>
							{% endif %}
						</div>
						<div class="mb-3"></div>
						<hr class="hr-light my-4">
					{% endif %}
					{% include 'menus/social-menu.twig' %}
				</div>
			</div><!-- Grid column -->
		</div><!-- Grid row -->
	</div><!-- Form with header -->
</section><!-- Section: Contact v.3 -->
{% endblock %}