{% import 'sections/partials/flex-content.twig' as flex %}

{% set fw = post.meta('full_width') %}
{% extends fw ? 'wrappers/head-foot-wrap-no-sidebar.twig' : 'wrappers/head-foot-wrap.twig' %}

{% block header %}
{#
	<div class="position-relative">
		<h1 class="page-title">{{ post.title }}</h1>
	</div>
#}
	<div class="my-5"></div>
{% endblock %}

{% block content %}
    {#{{ post.content }}

	<form method="post" action="{{ theme.link }}/inc/calendar/download-ics.php">
		<input type="hidden" name="date_start" value="2017-1-16 9:00AM">
		<input type="hidden" name="date_end" value="2017-1-16 10:00AM">
		<input type="hidden" name="location" value="123 Fake St, New York, NY">
		<input type="hidden" name="description" value="This is my description">
		<input type="hidden" name="summary" value="This is my summary">
		<input type="hidden" name="url" value="http://example.com">
		<input type="submit" value="Add to Calendar">
	</form>
<pre>{{dump(flex)}}</pre>
<br>
{% set content = post.meta('add_content') %}
<pre>{{ dump(content) }}</pre>
    {% include 'sections/partials/content-builder.twig' %}
    #}
<div class="front-page-content">
	{% set builder = post.meta('add_content') %}

	{% for section in builder %}

		{% set layout = section.acf_fc_layout %}

		{% if layout == 'full_text_editor' %}

			{% set active = section.sec_prop.active %}

			{% if active %}

				<div class="mission-statement-wrapper w-100">
					<div class="mission-statement-container w-100 mx-auto text-center">
						<div class="mission-statement mx-auto">
							{{ flex.full_text_editor(section) }}
						</div>
					</div>
				</div>

			{% endif %}

		{% endif %}

		{% if layout == 'buttons' %}
			{% set active = section.sec_prop.active %}

			{% if active %}

				<div class="bottom-buttons d-flex justify-content-around w-100">
				    {{ flex.buttons(section, site) }}
				</div>

			{% endif %}

	    {% endif %}

	{% endfor %}
</div>

{% endblock %}
{% block builder %}
    {#
    #}
{% endblock %}