{% extends 'wrappers/head-foot-wrap.twig' %}

{% set disable_backimg = post.meta('disable') %}
{% set is_active = post.meta('active') %}

{% set img = Image(post.meta('image')).src|resize(1110,500,'center') %}

{% block content %}
	<div class="row">
		{% for asset in post.meta('assets') %}
			{% set asset_title = asset.asset_title|e('wp_kses_post') %}
			{% set asset_file = asset.asset %}
			{% set type = asset_file.subtype %}
			{% if type == 'pdf' %}
				{% set filetype = 'pdf' %}
			{% else %}
				{% set filetype = 'image' %}
			{% endif %}
			{% set filesize = (asset_file.filesize / 1000000)|round(3) %}
			<div class="col-12 col-md-6">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">{{ asset_title }}</h5>
						<hr>
						<div class="card-text">
							<div class="row">
								<div class="col-6">
									<i class="fas fa-file-{{ filetype }} fa-4x"></i>
									<span class="d-block">{{ filetype|upper }}</span>
								</div>
								<div class="col-6">
									<span class="float-right"><em class="mr-2">File Size:</em> <strong>{{ filesize }}MB</strong></span>
									{% if filetype == 'image' %}
										<img class="d-block mx-auto mt-3" src="{{ asset_file.sizes.medium }}" alt="">
									{% else %}
										<a class="btn btn-secondary float-right" href="{{ asset_file.url }}" target="_blank">Preview</a>
									{% endif %}
								</div>
							</div>
						</div>
						<hr>
						<a href="{{ asset_link }}" class="btn btn-primary ml-0" download>Download {{ asset_title }}</a>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}