{% extends 'wrappers/head-foot-wrap-no-sidebar.twig' %}

{% set disable_backimg = post.meta('disable') %}
{% set is_active = post.meta('active') %}

{% set img = Image(post.meta('image')).src|resize(1110,500,'center') %}

{% set show = post %}

{% block header %}
	{% set title = show.post_title|e('wp_kses_post') %}
	<h3 class="text-capitalize">{{ title }}</h3>
	{% if is_active %}
		<div class="position-relative">
			<img src="{{ img }}">
			<h2 class="no-intro-title position-absolute float-left fixed-bottom m-0 pl-3 py-1">{{ post.title }}</h2>
		</div>
		<div class="my-5"></div>
	{% endif %}
{% endblock %}

{% block content %}
	{% set multiday = show.multiday_event %}
	{% set start_date = show.start_date %}
	{% set end_date = show.end_date %}

{#}
	{% set artist = fn('get_the_title', show.artist)|e('wp_kses_post') %}
	{% set artist_link = fn('get_field', 'artist_website', show.artist)|e('esc_url') %}
#}

	{% set venue_name = fn('get_the_title', show.venue)|e('wp_kses_post') %}
	{% set venue = fn('get_fields', show.venue) %}

	{% set admittance = show.admittance|e('wp_kses_post') %}
	{% set price = show.price|e('wp_kses_post') %}
	{% set ticket_url = show.ticket_url|e('esc_url') %}
	{% set ticket_phone = show.ticket_phone|e('wp_kses_post') %}
	{% set notes = show.notes|e('wp_kses_post') %}

	{% set venue_address = venue.venue_address|e('wp_kses_post') %}
	{% set venue_state_provence = venue.venue_state_provence|e('wp_kses_post') %}
	{% set venue_city = venue.venue_city|e('wp_kses_post') %}
	{% set venue_postal_code = venue.venue_postal_code|e('wp_kses_post') %}
	{% set venue_website = venue.venue_website|e('esc_url') %}
	{% set venue_phone = venue.venue_phone|e('wp_kses_post') %}

	{% set notes = show.notes|e('wp_kses_post') %}

	{% if price %}
		{% set price_output = '<span>&euro;' ~ price ~ '</span><br>' %}
	{% endif %}

	{% if multiday %}
		{% if start_date|date('dmY') == end_date|date('dmY') %}
			{% set s_date = '<i class="far fa-calendar-alt"></i> ' ~ start_date|date('d/M/Y') ~ ' <i class="far fa-clock"></i> ' ~ start_date|date('H:i') %}
			{% set e_date = ' - ' ~ end_date|date('H:i') %}
		{% else %}
			{% set s_date = '<i class="far fa-calendar-alt"></i> ' ~ start_date|date('d/M/Y') ~ ' <i class="far fa-clock"></i> ' ~ start_date|date('H:i') %}
			{% set e_date = '<br><div class="mt-2"><i class="fas fa-calendar-alt"></i> ' ~ end_date|date('d/M/Y') ~ ' <i class="fas fa-clock"></i> ' ~ end_date|date('H:i') ~ '</div>' %}
		{% endif %}
	{% else %}
		{% set s_date = '<i class="far fa-calendar-alt"></i> ' ~ start_date|date('d/M/Y') ~ ' <i class="far fa-clock"></i> ' ~ start_date|date('H:i') %}
	{% endif %}
	<!-- Grid row -->
	<div class="row">
		<!-- Grid column -->
		<div class="col-md-6 offset-md- x-md-3 my-3">
			<h6>{{ s_date }}{{ e_date }}</h6>
			<h6 class="font-weight-bold mt-3 m-0">Admittance</h6>
			<div>
				<span>{{ admittance }}</span><br>
				{{ price_output }}
				{% if ticket_url or ticket_phone %}
					<h6 class="font-weight-bold mt-3 m-0">Tickets</h6>
					{% if ticket_url %}
						<a href="{{ ticket_url }}"><code class="p-0">website</code></a>
					{% endif %}
					{% if ticket_phone %}
						<a href="tel:{{ ticket_phone }}"><code class="p-0">phone</code></a>
					{% endif %}
				{% endif %}
			</div>
		</div><!-- Grid column -->
		<!-- Grid column -->
		<div class="col-md-6 text-md-left l-md-3 mt-3">
			<h6 class="h6 pb-1 green-text"><i class="fas fa-desktop pr-1"></i> {{ venue.venue_country.label }}</h6>
			<h4 class="h4 mb-4">{{ venue_name }}</h4>
			<div class="font-weight-normal">

				{{ venue_address ? '<span>' ~ venue_address ~ '</span>' }}
				{{ venue_state_provence ? '<span>, ' ~ venue_state_provence ~ '</span><br>' }}
				{{ venue_city ? '<span>' ~ venue_city ~ '</span>' }}
				{{ venue_postal_code ? '<span>, ' ~ venue_postal_code ~ '</span><br>' }}

				{% if venue_website or venue_phone %}
					<h6 class="font-weight-bold mt-3 m-0">Venue</h6>
				{% endif %}
				{% if venue_website %}
					<a href="{{ venue_website }}"><code class="p-0">website</code></a>
				{% endif %}
				{% if venue_phone %}
					<a href="tel:{{ venue_phone }}"><code class="p-0">phone</code></a>
				{% endif %}
			</div>
		</div><!-- Grid column -->
		{% if notes %}
			<div class="col-12">
				<hr>
				<p class="text-monospace">Note</p>
				{{ notes }}
			</div>
		{% endif %}
		<div class="col-12">
			{% include 'sections/partials/_map.twig' %}
		</div>
	</div><!-- Grid row -->
{% endblock %}

{% block builder %}
	{% include 'sections/partials/content-builder.twig' %}
{% endblock %}